article {
  border: 2px solid #545149;
  width: 95%;
  margin: 0.5em 3em 0.5em 0.5em;
  font-family: 'Source Sans 3', sans-serif;
}


article > header {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  margin-bottom: 0;
  font-size: 1rem;
}

.con-1 {
  display: flex;
  align-items: center;
}

.con-1 > img {
  max-width: 100%;
  height: 2.2rem;
  margin-right: 0.75rem;
}

.handle {
  color: #B7C3F3;
}

article > p {
  font-weight: 600;
  font-size: 0.6em;
  padding: 0 1rem;
  margin-left: 0.75rem;
}

article > footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  font-weight: 600;
  border-top: 3px solid #545149;;
  margin: 1rem 0.5rem;
  padding: 0.5rem 1rem 0 0.5rem;
}

.icons-con {
  color: #4056A1;
  display: flex;
  gap: 0.5rem;;
}

.icons-con > i:hover {
  color: red; 
}