main {
  width: 100%;
  margin-top: 120px;
  background-color: inherit;
}

section {
  width: 100%;
  background-color: white;
  margin: 0 auto;
  max-width: 500px;
}

.warning {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: red;
  border: red solid 5px;
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  margin: 0 auto;
}

.tweet-con {
  width: 100%;
  margin: 0 auto;
  max-width: 500px;
}

/*
 * Media Query for Tablets
 */
@media screen and (max-width: 768px) {
  main, section, .tweet-con {
    max-width: 100%;
  }
  main {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/*
 * Media Query for Desktop
 */
@media screen and (min-width: 769px) {
  main, section, .tweet-con {
    max-width: 500px;
  }
}
